#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.profilePic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}

.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.nav li {
	float: left;
}

.nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}
